:root {
    --regular: "DM Sans",sans-serif;
    --extra: "DM Sans", sans-serif;
    --color-dark: #191919;
    --color-white: #FFF;
    --color-blue: #118DA8;
    --color-nudeblue: rgba(255, 255, 255, 0.7);
  }
